<nz-table
  #topicListTable
  [nzData]="data"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th nzLeft="0px">Topic Name</th>
      <th nzWidth="100px">Partitions</th>
      <th nzWidth="100px">Replication</th>
      <th nzWidth="100px">Configs</th>
      <th nzRight="0px" nzAlign="right"></th>
    </tr>
  </thead>
  <tbody *ngFor="let topic of topicListTable.data">
    <tr>
      <td>
        <a [routerLink]="['/topics', topic.name]">
          {{ topic.name }}
        </a>

      </td>
      <td nzAlign="center">{{ topic.partitions.length }}</td>
      <td nzAlign="center">?</td>
      <td nzAlign="center">?</td>
      <td nzAlign="right">
        <a nz-button nzType="dashed" [routerLink]="['/topics', topic.name]">
          <i nz-icon nzType="double-right"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
