:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Layout {
  height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;

  }
}

.Sidebar {
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  z-index: 10;

  &__logo {
    position: relative;
    height: 64px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    transition: all .3s;
    text-align: center;

    h1 {
      display: inline-block;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }
}
