<nz-content>
  <nz-divider nzText="Topics" nzOrientation="left"></nz-divider>
  <nz-row [nzGutter]="30" nzType="flex">
    <nz-col [nzSpan]="5">
      <nz-card>
        <nz-statistic [nzValue]="1949101 | number" [nzTitle]="'Active Users'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="5">
      <nz-card>
        <nz-statistic [nzValue]="2019.111 | number: '1.0-2'" [nzTitle]="'Account Balance'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="10">
      <nz-card>
        <nz-statistic [nzValue]="2019.111 | number: '1.0-2'" [nzTitle]="'Account Balance'"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>

  <nz-divider nzText="Other Metrics" nzOrientation="left"></nz-divider>
</nz-content>
